<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="joint" default="true"/>
    <arg name="camera" default="true"/>
    <arg name="kinect" default="true"/>
    <arg name="senz3d" default="true"/>
    <arg name="flash" default="true"/>

    <!-- launch JointRecorder server node -->
    <node if="$(arg joint)"
          pkg="baxter_data_acquisition" type="joint_server.py"
          name="recorder_server" ns="joint_recorder" required="true"
          respawn="false" output="screen" cwd="node"/>

    <!-- launch CameraRecorder server node -->
    <node if="$(arg camera)"
          pkg="baxter_data_acquisition" type="camera_server.py"
          name="recorder_server" ns="camera_recorder" required="true"
          respawn="false" output="screen" cwd="node"/>

    <!-- launch Kinect Recorder server node -->
    <!--<node if="$(arg kinect)"-->
          <!--pkg="baxter_data_acquisition" type="kinect_server.py"-->
          <!--name="kinect_recorder_server" required="true"-->
          <!--respawn="false" output="screen" cwd="node"/>-->
    <node if="$(arg kinect)"
          pkg="baxter_data_acquisition" type="trigger_server.py"
          name="recorder_server" ns="kinect_recorder" required="true"
          respawn="false" output="screen" cwd="node">
        <param name="~type" value="kinect"/>
    </node>

    <!-- launch Senz3d Recorder server node -->
    <!--<node if="$(arg senz3d)"-->
          <!--pkg="baxter_data_acquisition" type="senz_server.py"-->
          <!--name="senz3d_recorder_server" required="true"-->
          <!--respawn="false" output="screen" cwd="node"/>-->
    <node if="$(arg senz3d)"
          pkg="baxter_data_acquisition" type="trigger_server.py"
          name="recorder_server" ns="senz3d_recorder" required="true"
          respawn="false" output="screen" cwd="node">
        <param name="~type" value="senz3d"/>
    </node>

    <!-- launch FlashRecorder server node -->
    <!--<node if="$(arg flash)"-->
          <!--pkg="baxter_data_acquisition" type="flash_server.py"-->
          <!--name="flash_recorder_server" required="true"-->
          <!--respawn="false" output="screen" cwd="node"/>-->
    <node if="$(arg flash)"
          pkg="baxter_data_acquisition" type="trigger_server.py"
          name="recorder_server" ns="flash_recorder" required="true"
          respawn="false" output="screen" cwd="node">
        <param name="~type" value="flash"/>
    </node>
</launch>
